body {
    font-family: 'Antonio', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation-section div {
    display: inline;
    float: right;
}

.navigation-button {
    margin-left: 8px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: 200;
    font-size: 18px;
    border-radius: 6px;
}

.navigation-button:hover {
    background-image: linear-gradient(rgba(237, 118, 0, 0.884), tomato);
    color: white;
    font-weight: 400;
    font-size: 18px;
}


.name-showkhin {
    display: inline;
    margin-left: 8%;
    font-size: 50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.name-showkhin span {
    color: rgba(237, 118, 0, 0.884);
}

.top-banner {
    background-image: url("images/developer.png");
    background-size: 75px 585px;
    background-repeat: no-repeat;
    padding-bottom: 155px;
    margin-top: 20px;
    margin-left: 5px;
}

.top-banner-section {
    display: flex;
    padding-left: 8%;
    padding-top: 5%;
}

.top-banner-text {
    margin-top: 60px;
}


.top-banner-section h3 {
    font-size: 40px;
    color: rgba(237, 118, 0, 0.884);
}

.top-banner-section h1 {
    font-size: 50px;
}

.top-banner-section p {
    text-align: justify;
    color: gray;
}

.resume-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(237, 118, 0, 0.884), tomato);
    padding: 10px 20px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 6px;
}

.about {
    padding: 0px 100px;
    align-items: center;
    margin-bottom: 30px;
}

.about-me {
    background-color: rgba(237, 118, 0, 0.06);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 60px;
}

.about-me-text {
    padding: 0px 300px;
}

.about-me-text h1 {
    text-align: center;
    font-size: 30px;
}

.about-me-text p {
    text-align: center;
    color: gray;
}

.about-section-info {
    display: flex;
}

.about-section-info p {
    margin-left: 200px;
    text-align: center;
}

.about-section-info span {
    font-weight: 600;
    text-align: center;
}

.what-i-do {
    padding: 30px;
    margin-bottom: 100px;
}

.what-i-do h1 {
    text-align: center;
    font-size: 30px;
}

.what-i-do-card {
    display: flex;
    margin: 30px;
}

.what-i-do-card-style {
    box-shadow: 5px 10px 30px rgba(128, 128, 128, 0.34);
    padding: 20px 40px 60px;
    margin: 20px;
    border-radius: 8px;
}

.what-i-do-card-style h4 {
    font-size: 20px;
}

.what-i-do-card-style p {
    color: gray;
}

.summery-of-resume-parent {
    margin-bottom: 100px;
}

.summery-of-resume-parent h1 {
    text-align: center;
    font-size: 30px;
}

.summery-of-resume-card {
    display: flex;
    padding: 30px 50px;
    margin: 10px 30px;
    align-items: center;
}

.summery-of-resume-card hr {
    width: 95%;
    margin: 40px 0px 30px;
}

.summery-of-resume-card p {
    color: gray;
    padding-right: 10px;
}

.summery-of-resume-card h3 {
    color: gray;
}

.single-card {
    padding: 3px;
}

.download-resume {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(237, 118, 0, 0.884), tomato);
    padding: 10px 20px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 6px;
    margin-left: 40%;
}

.contact-message-section {
    margin-top: 100px;
    padding: 0px 80px;
}

.lets-contact {
    margin-bottom: 70px;
}

.contact-section p {
    width: 35%;
    color: gray;
}

.contact-message {
    display: flex;
    background-color: rgba(237, 118, 0, 0.06);
    border-radius: 8px;
    padding: 70px;
}

.message-section input {
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
}

.message-section textarea {
    border: none;
    padding: 20px;
    margin-bottom: 32px;
    width: 90%;
    border-radius: 5px;
}

.footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 15px;
    color: gray;
}