body {
    font-family: 'Antonio', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navigation-section div {
    display: inline;
    float: right;
}

.navigation-button {
    margin-left: 8px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: 200;
    font-size: 18px;
    border-radius: 6px;
}

.navigation-button:hover {
    background-image: linear-gradient(rgba(237, 118, 0, 0.884), tomato);
    color: white;
    font-weight: 400;
    font-size: 18px;
}


.name-showkhin {
    display: inline;
    margin-left: 8%;
    font-size: 50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.name-showkhin span {
    color: rgba(237, 118, 0, 0.884);
}

.top-banner {
    background-image: url("images/developer.png");
    background-size: 75px 585px;
    background-repeat: no-repeat;
    padding-bottom: 155px;
    margin-top: 20px;
    margin-left: 5px;
}

.top-banner-section {
    display: flex;
    padding-left: 8%;
    padding-top: 5%;
}

.top-banner-text {
    margin-top: 60px;
}


.top-banner-section h3 {
    font-size: 40px;
    color: rgba(237, 118, 0, 0.884);
}

.top-banner-section h1 {
    font-size: 50px;
}

.top-banner-section p {
    text-align: justify;
    color: gray;
}

.resume-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(237, 118, 0, 0.884), tomato);
    padding: 10px 20px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 6px;
}

.about {
    padding: 0px 100px;
    align-items: center;
    margin-bottom: 30px;
}

.about-me {
    background-color: rgba(237, 118, 0, 0.06);
    padding: 20px;
    border-radius: 8px;
}

.about-me-text {
    padding: 0px 300px;
}

.about-me-text h1 {
    text-align: center;
    font-size: 30px;
}

.about-me-text p {
    text-align: center;
    color: gray;
}

.about-section-info {
    display: flex;
}

.about-section-info p {
    margin-left: 200px;
    text-align: center;
}

.about-section-info span {
    font-weight: 600;
    text-align: center;
}